NODE_ENV=develop
APP_ENV=develop
PORT=3000
MASTER_DB={"host":"127.0.0.1","port":3306,"username":"root","password":"123456","database":"coti-community-platform"}
SLAVES_DB=[{"host":"127.0.0.1","port":3306,"username":"root","password":"123456","database":"coti-community-platform"}]
JWT={"accessSecret": "12346", "accessExpiresIn": 86400}
REDIS={"host":"localhost","port":6379}
DATO_CMS={"host":"https://graphql.datocms.com","token":"your_api_token","apiHost":"https://site-api.datocms.com/items","apiVersion":"3","modelIdea":"","modelAuthor":""}
API_KEY=
NETWORK=testnet
VOTE_RECEIVER_ADDRESS=